{% load static i18n %}<!DOCTYPE html>
{% load static tailwind_tags %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %} - Phison Realestate{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Backend API and web app for administrators.">
    <meta name="author" content="Nebiyu Elias">
    {% tailwind_css %}
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'images/favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/favicons/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'images/favicons/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    {% block css %}
    <!-- Latest compiled and minified Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css" integrity="sha512-GQGU0fMMi238uA+a/bdWJfpUGKUkBdgfFdgBm72SUQ6BeyWjoY/ton0tEjH+OSH9iP4Dfh+7HM0I9f5eR0L/4w==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
    <!-- Your stuff: Third-party CSS libraries go here -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <!-- This file stores project-specific CSS -->
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    {% endblock %}
    <!-- Le javascript
    ================================================== -->
    {# Placed at the top of the document so pages load faster with defer #}
    {% block javascript %}
      <!-- Bootstrap JS -->
      <!-- <script defer src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.min.js" integrity="sha512-OvBgP9A2JBgiRad/mM36mkzXSXaJE9BEIENnVEmeZdITvwT09xnxLtT4twkCa8m/loMbPHsvPl0T8lRGVBwjlQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
      <!-- Your stuff: Third-party javascript libraries go here -->

      <!-- place project specific Javascript in this file -->
      <script defer src="{% static 'js/project.js' %}"></script>

    {% endblock javascript %}

  </head>

  <body class="font-body bg-gray-50">
    <div>
      {% if messages %}
      <div class="absolute right-0 z-10">
        {% for message in messages %}
        <div class="toast flex p-4 m-6 mb-0 text-sm {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}text-red-700 bg-red-100{% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}text-green-700 bg-green-100{% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}text-yellow-700 bg-yellow-100{% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}text-blue-700 bg-blue-100{% else %}text-gray-700 bg-gray-100{% endif %} rounded-lg" role="alert">
          <svg aria-hidden="true" class="flex-shrink-0 inline w-5 h-5 mr-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
          <span class="sr-only">Info</span>
          <div>
            <span class="font-medium">
              {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Error!
              {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}Success!
              {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}Warning!
              {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}Info!{% endif %}
            </span>
            {{ message }}
          </div>
        </div>
        {% endfor %}
      </div>
      {% endif %}
      {% block content %}
      {% endblock content %}
    </div>

    <dialog class="bg-gray-50 rounded-xl w-11/12 md:w-1/3 overflow-hidden" id="modal">
      <div class="flex justify-between items-center">
        <h6 id="modalTitle" class="font-semibold text-lg"></h6>
        <button class="border-none p-2 bg-white rounded-xl outline-none" id="closeModal">
          <img src="{% static 'images/x.svg' %}" alt="close">
        </button>
      </div>
      <div id="modalBody" class="overflow-y-scroll max-h-96"></div>
    </dialog>

    {% block inline_javascript %}

    {% comment %}
    Script tags with only code, no src (defer by default). To run
    with a "defer" so that you run inline code:
    <script>
      window.addEventListener('DOMContentLoaded', () => {/* Run whatever you want */});
    </script>
    {% endcomment %}
    {% endblock inline_javascript %}
  </body>
</html>
