{% extends "base.html" %}
{% load static %}

{% block title %}{% block head_title %}{% endblock head_title %}{% endblock title %}

{% block content %}
<div class="h-screen flex items-center justify-center p-4">
  <div class="max-w-md w-full">
    <div class="w-36 mx-auto rounded-3xl border border-solid  border-gray-200 px-6 py-4 flex justify-center">
      <img src="{% static 'images/logo.png' %}" alt="Phison Realestate logo">
    </div>

    {% block inner %}{% endblock %}
  </div>
</div>
{% endblock %}
