<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>597049332568-66fj3mpqnb50rfkqtnr95v734hcnpjgt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.597049332568-66fj3mpqnb50rfkqtnr95v734hcnpjgt</string>
	<key>API_KEY</key>
	<string>AIzaSyARfxIwQnj3zWYm8s8W918tIQlGgb_--aw</string>
	<key>GCM_SENDER_ID</key>
	<string>597049332568</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.phisonRealestateMobile</string>
	<key>PROJECT_ID</key>
	<string>phison-real-estate-c1f09</string>
	<key>STORAGE_BUCKET</key>
	<string>phison-real-estate-c1f09.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:597049332568:ios:91caa8676ddbcb864b0b2d</string>
</dict>
</plist>