r{% extends "phison_panel/base_form.html" %}
{% load static %}
{% block header_title %} {% if object %}Edit Buyer{% else %}Add New Buyer{% endif %}{% endblock %}
{% block header_description %} Fill out the following information to {% if object %} edit a {% else %} add a new {% endif %}buyer{% endblock %}

{% block main_form %}
<form id="buyerForm" method="post">
  {% csrf_token %}

  <div id="hiddenFormControls">
    {{formset.management_form}}
    {% if object.schedules.count > 0 %}
      {% for form in formset %}
        <div class="payment-schedule-form-controls">
          {% for field in form %}
          {{field.as_hidden}}
          {% endfor %}
        </div>
      {% endfor %}
    {% endif %}
    <input id="propertyId" name="property" type="hidden" value="{{object.property.pk}}">
    <input id="customerId" name="customer" type="hidden" value="{{object.customer.pk}}">
  </div>
</form>

<div class="mt-4 lg:flex lg:gap-6">
  <div class="mb-4 basis-1/3 flex-grow-0 flex-shrink lg:border-r border-solid border-r-gray-300">
    <h5 class="font-semibold">Property Information</h5>

    {% if not object %}
    <div id="selectedPropertyContainer" class="mt-5 flex hidden">
      <div id="propertyCard"></div>
      <button class="border-none p-2 bg-white rounded-xl outline-none ml-2 self-start" id="removePropertySelection">
        <img src="{% static 'images/x.svg' %}" alt="close">
      </button>
    </div>

    <div id="selectProperty">
      <div class="mt-5 border border-gray-400 border-dashed rounded-2xl py-14 px-10 mx-6 cursor-pointer {% if form.errors.property %} border-red-500 bg-red-50 {% endif %}">
        <div class="text-gray-500 font-medium flex flex-col items-center">
          <img src="{% static 'images/add.svg' %}" alt="Add property">
          <p class="mt-4 text-center">Choose Property</p>
          <p class="mt-2 text-xs text-center">Click here to select property</p>
        </div>
      </div>
      {% for error in form.errors.property %}
        <p class="text-xs text-red-500 mx-6">
          {{error}}
        </p>
      {% endfor %}
    </div>
    {% else %}
    {% include 'partials/_property_card.html' with property=object.property class="h-fit mr-8" %}
    {% endif %}

    <h5 class="mt-6 font-semibold">Customer Information</h5>

    {% if not object %}
    <div id="selectedCustomerContainer" class="mt-5 flex hidden">
      <div id="customerCard" class="break-all"></div>
      <button class="border-none p-2 bg-white rounded-xl outline-none ml-2 self-start" id="removeCustomerSelection">
        <img src="{% static 'images/x.svg' %}" alt="close">
      </button>
    </div>
    <div id="selectCustomer">
      <div class="mt-5 border border-gray-400 border-dashed rounded-2xl py-14 px-10 mx-6 cursor-pointer {% if form.errors.customer %} border-red-500 bg-red-50 {% endif %}">
        <div class="text-gray-500 font-medium flex flex-col items-center">
          <img src="{% static 'images/add.svg' %}" alt="Add property">
          <p class="mt-4 text-center">Choose Customer</p>
          <p class="mt-2 text-xs text-center">Click here to select customer</p>
        </div>
      </div>
      {% for error in form.errors.customer %}
      <p class="text-xs text-red-500 mx-6">
        {{error}}
      </p>
      {% endfor %}
    </div>
    {% else %}
    <div class="gap-2 bg-white p-2 rounded-lg hover:bg-gray-100 cursor-pointer mr-8">
      <div class="mb-2 flex-shrink-0">
        <img class="object-cover rounded-lg h-32 w-full" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80" alt="Customer picture">
      </div>
      <div class="ml-2 break-all">
        <p class="font-semibold">{{object.customer.name}}</p>
        <p class="text-sm text-gray-500 font-semibold">{{object.customer.phone}}</p>
        <p class="text-sm text-gray-500">{{object.customer.email}}</p>
      </div>
    </div>
    {% endif %}
  </div>

  <div class="basis-2/3 flex-grow">
    <h5 class="font-semibold">Add Schedule</h5>
    {% for error in formset.non_form_errors %}
      <div class="flex p-4 mb-4 text-sm text-red-700 bg-red-100 rounded-lg dark:bg-red-200 dark:text-red-800" role="alert">
        <svg aria-hidden="true" class="flex-shrink-0 inline w-5 h-5 mr-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
        <span class="sr-only">Info</span>
        <div>
          <span class="font-medium">Error!</span> {{error}}
        </div>
      </div>
    {% endfor %}
    <form id="paymentForm"></form>
    <div class="flex flex-wrap mt-4 gap-3">
      <!-- prettier-ignore -->
      {% include 'partials/_input.html' with label="Payment Title" id="payment_title" name="payment_title" placeholder="Initial Payment" type="text" class="basis-full md:basis-1/2 lg:basis-1/3 flex-grow flex-shrink" required_attribute="required" form_attribute="form='paymentForm'" only %}
      {% include 'partials/_input.html' with label="Payment Deadline" id="payment_deadline" name="payment_deadline" type="date" class="basis-full md:basis-1/2 lg:basis-1/3 flex-grow flex-shrink" required_attribute="required" form_attribute="form='paymentForm'" only %}
      {% include 'partials/_textarea.html' with label="Property description" id="payment_description" name="payment_description" placeholder="Payment description" type="text" class="basis-full md:basis-1/2 lg:basis-1/3 flex-grow flex-shrink" required_attribute="required" rows="3" form_attribute="form='paymentForm'" only %}
      <div class="basis-full md:basis-1/2 lg:basis-1/3 flex-grow flex flex-col flex-shrink">
        {% include 'partials/_input.html' with label="Payment Amount (%)" id="payment_amount" name="payment_amount" placeholder="Your payment amount in percentage" type="number" min="1" max="100" required_attribute="required" form_attribute="form='paymentForm'" only %}
        {% include 'partials/_neutral_button.html' with label="Add Payment" class="mt-3" form_attribute="form='paymentForm'" only %}
      </div>
    </div>

    <div class="overflow-x-auto relative mb-4 mt-4">
      <h6 class="font-semibold mb-4 text-sm">Payment Schedule</h6>

      <table id="table" class="w-full text-xs text-left text-gray-500">
        <thead class="text-xs text-gray-400 uppercase bg-gray-50 border-b">
          <tr>
            <th scope="col" class="py-3 px-6">
              Title
            </th>
            <th scope="col" class="py-3 px-6">
              Description
            </th>
            <th scope="col" class="py-3 px-6">
              Deadline
            </th>
            <th scope="col" class="py-3 px-6">
              Amount (%)
            </th>
            <th scope="col" class="py-3 px-6">
            </th>
          </tr>
        </thead>
        <tbody id="tableBody">
          {% for schedule in object.schedules.all %}
          <tr class="bg-white border-b" data-index="{{forloop.counter0}}">
            <th scope="row" class="py-4 px-6 font-medium text-blue-600 whitespace-nowrap">
              {{schedule.title}}
            </th>
            <td class="py-4 px-6">
              {{schedule.description}}
            </td>
            <td class="py-4 px-6">
              {{schedule.deadline  | date:'d M, Y'}}
            </td>
            <td class="py-4 px-6">
              {{schedule.percentage}}
            </td>
            <td class="py-4 px-6">
              <button id="removeExistingPaymentSchedule" class="flex items-center justify-center bg-white w-6 h-6 rounded-md">
                <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0_114_11571)">
                    <path
                      d="M0.916748 2.74984H10.0834M4.58341 5.0415V7.33317M6.41675 5.0415V7.33317M1.83341 2.74984H9.16675L8.44258 9.26734C8.41776 9.49163 8.31107 9.69889 8.14295 9.84943C7.97482 9.99996 7.75708 10.0832 7.53141 10.0832H3.46875C3.24308 10.0832 3.02534 9.99996 2.85722 9.84943C2.68909 9.69889 2.5824 9.49163 2.55758 9.26734L1.83341 2.74984ZM3.36654 1.44221C3.44068 1.28499 3.55799 1.15209 3.70479 1.059C3.8516 0.965924 4.02184 0.916502 4.19566 0.916504H6.8045C6.9784 0.916415 7.14874 0.965796 7.29564 1.05888C7.44253 1.15197 7.55991 1.28492 7.63408 1.44221L8.25008 2.74984H2.75008L3.36654 1.44221V1.44221Z"
                      stroke="#F04438" stroke-linecap="round" stroke-linejoin="round" />
                  </g>
                  <defs>
                    <clipPath id="clip0_114_11571">
                      <rect width="11" height="11" fill="white" />
                    </clipPath>
                  </defs>
                </svg>
              </button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <hr class="my-4">
    </div>
    <div class="flex justify-end gap-x-3">
      {% include 'partials/_neutral_button.html' with label="Cancel" id="num_of_bathrooms" placeholder="2" type="text" class="basis-full md:basis-1/3 lg:basis-1/4" only %}
      {% include 'partials/_primary_button.html' with label="Save" class="basis-full md:basis-1/3 lg:basis-1/4" form_attribute="form='buyerForm'" %}
    </div>
  </div>
</div>
{% endblock %}
{% block inline_javascript %}
<script defer src="{% static 'js/buyer_form.js' %}" type="module"></script>
{% endblock %}
