{% extends "phison_panel/base.html" %}
{% load static %}

{% block javascript %}
{{block.super}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{{form.media}}
{% endblock %}

{% block main %}
<div>
  <h2 class="font-semibold text-xl">{% if object %}Edit Property{% else %}Add New Property{% endif %}</h2>
  <p class="mt-2 text-gray-500 text-xs">Fill out the following information to
    {% if object %}edit a{% else %}add a new{% endif %}
    property</p>
  <hr class="mt-3">
</div>

<div class="mt-4 flex justify-between flex-wrap">
  <div class="max-w-full">
    <h5 class="font-semibold mb-4">Property Images</h5>

    <div class="flex flex-wrap">
      <div class="flex flex-wrap" id="propertyImages">
        {% for image in object.images.all %}
          <div class="image-container" data-index="{{forloop.counter0}}">
            {% include 'partials/_image_upload.html' with image=image %}
          </div>
        {% endfor %}
      </div>

      <input id="imageInput" type="file" hidden accept="image/*">

      <button
        id="openImagePicker"
        class="flex-shring-0 border border-dashed border-gray-400 w-32 h-32 flex justify-center items-center rounded-2xl {% if image_formset.non_form_errors %} border-red-500 {% endif %} {% if object and object.images.count > 3 %}hidden{% endif %}">
        <img src="{% static 'images/add.svg' %}" alt="add image">
      </button>
    </div>
    {% if image_formset.non_form_errors %}
    <p class="text-sm text-red-500">You must upload at least one image</p>
    {% endif %}
  </div>
</div>

<form id="paymentForm" method="post"></form>

<form method="post">
  {% csrf_token %}

  {{image_formset.management_form}}

  <div id="propertyImageFormControls">
    {% if object.images.count > 0 %}
      {% for formset in image_formset %}
        {{formset}}
      {% endfor %}
    {% endif %}
  </div>

  <div class="mt-4">
    <h5 class="font-semibold mb-4">Property Information</h5>
    <hr>
    <div class="flex flex-wrap mt-4 gap-3">
        <!-- prettier-ignore -->
        {% include 'partials/_input.html' with label="Property name" id="property_name" name="name" placeholder="G+2 Luxury Villa" type="text" class="basis-full md:basis-1/3 lg:basis-1/4 flex-grow" value=form.name.value required_attribute="required" only%}
        {% include 'partials/_input.html' with label="Number of bed rooms" id="property_bed_room_count" name="bed_room_count" placeholder="2" type="number" class="basis-full md:basis-1/3 lg:basis-1/4 flex-grow" value=form.bed_room_count.value min=0 required_attribute="required" only %}
        {% include 'partials/_input.html' with label="Number of bathrooms" id="property_bath_room_count" name="bath_room_count" placeholder="1" type="number" class="basis-full md:basis-1/3 lg:basis-1/4 flex-grow" value=form.bath_room_count.value min=0 required_attribute="required" only %}
        {% include 'partials/_input.html' with label="Number of parkings" id="property_parking_count" name="parking_count" placeholder="1" type="number" class="basis-full md:basis-1/3 lg:basis-1/4 flex-grow" value=form.parking_count.value min=0 required_attribute="required" only %}
        {% include 'partials/_input.html' with label="Property size (M<sup>2</sup>)" id="property_size" name="size" placeholder="74.47" type="number" class="basis-full md:basis-1/3 lg:basis-1/4 flex-grow" value=form.size.value required_attribute="required" step_attribute="step='any'" required_attribute="required" only %}
        {% include 'partials/_input.html' with label="Property Video" id="property_video" name="video" placeholder="https://www.youtube.com/watch?v=xGVxYZClIwU" type="url" class="basis-full md:basis-1/3 lg:basis-1/4 flex-grow" value=form.video.value only%}
        {% include 'partials/_select.html' with label="Property Type" id="property_type" name="property_type" options=options class="basis-full md:basis-1/3 lg:basis-1/4 flex-grow" value=form.property_type.value only%}
        <div class="basis-full md:basis-1/3 lg:basis-1/4 flex-grow">
          <!-- prettier-ignore -->
          {% include 'partials/_input.html' with label="Property progress" id="property_progress" name="progress" placeholder="1st Phase" type="text" value=form.progress.value required_attribute="required" only %}
          {% include 'partials/_input_slider.html' with label="Featured property" id="num_of_bathrooms" class="basis-full md:basis-1/3 lg:basis-1/4 flex-grow items-center" only %}
        </div>

        <div class="basis-full md:basis-1/3 lg:basis-1/4 flex-grow">
          <!-- prettier-ignore -->
          {% include 'partials/_input.html' with label="Property pricing ($)" id="property_pricing" name="price" placeholder="2000.00" type="number" value=form.price.value required_attribute="required" step_attribute="step='0.1'" only %}
          {% include 'partials/_checkbox.html' with label="Featured property" id="property_is_featured" name="is_featured" checked_attribute=form.is_featured.value only %}
        </div>
        {% include 'partials/_textarea.html' with label="Property description" id="property_description" name="description" placeholder="Property description" type="text" class="basis-full md:basis-1/3 lg:basis-1/4 flex-grow" value=form.description.value required_attribute="required" only %}
    </div>
  </div>

  <div class="mt-4">
    <h5 class="font-semibold mb-4">Property Location</h5>
    <hr>
    <div class="mt-4">
      <div class="flex">
        {% include 'partials/_input.html' with label="Address" id="id_address" name="address" placeholder="Addis Ababa" type="text" value=form.address.value required_attribute="required" only %}
      </div>

      {{form.location}}

    </div>
  </div>

  <div class="mt-4">
    <h5 class="font-semibold mb-4">Payment Information</h5>

    {% if formset.non_form_errors %}
      <div class="flex p-4 mb-4 text-sm text-red-700 bg-red-100 rounded-lg dark:bg-red-200 dark:text-red-800" role="alert">
        <svg aria-hidden="true" class="flex-shrink-0 inline w-5 h-5 mr-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
        <span class="sr-only">Info</span>
        <div>
          <span class="font-medium">Error!</span> You must add at least one payment information.
        </div>
      </div>
    {% endif %}

    <hr>

    <div id="hiddenFormControls">
      <input type="hidden" name="payment_infos-TOTAL_FORMS" id="id_payment_infos-TOTAL_FORMS">
      <input type="hidden" name="payment_infos-INITIAL_FORMS" value="0" id="id_payment_infos-INITIAL_FORMS">
      <input type="hidden" name="payment_infos-MIN_NUM_FORMS" value="1" id="id_payment_infos-MIN_NUM_FORMS">
      <input type="hidden" name="payment_infos-MAX_NUM_FORMS" value="1000" id="id_payment_infos-MAX_NUM_FORMS">
    </div>

    <div class="flex flex-wrap mt-4 gap-3">
        <!-- prettier-ignore -->
        {% include 'partials/_input.html' with label="Payment Title" id="payment_title" name="payment_title" placeholder="Initial Payment" type="text" class="basis-full md:basis-1/3 lg:basis-1/4 flex-grow" required_attribute="required" form_attribute="form='paymentForm'" only %}
        {% include 'partials/_input.html' with label="Payment Time Period" id="payment_time_period" name="payment_time_period" placeholder="2 months after initial agreement" type="text" class="basis-full md:basis-1/3 lg:basis-1/4 flex-grow" required_attribute="required" form_attribute="form='paymentForm'" only %}
        {% include 'partials/_input.html' with label="Payment Amount (%)" id="payment_amount" name="payment_amount" placeholder="Your payment amount in percentage" type="number" class="basis-full md:basis-1/3 lg:basis-1/4 flex-grow" min="1" max="100" required_attribute="required" form_attribute="form='paymentForm'" only %}
        {% include 'partials/_textarea.html' with label="Property description" id="payment_description" name="payment_description" placeholder="Payment description" type="text" class="basis-full md:basis-1/3 lg:basis-1/4 flex-grow" required_attribute="required" form_attribute="form='paymentForm'" only %}
        {% include 'partials/_neutral_button.html' with label="Add Payment" class="basis-full md:basis-1/3 lg:basis-1/4 self-end mb-2" form_attribute="form='paymentForm'" only %}
    </div>
  </div>

  <div class="my-4">
    <h6 class="font-semibold mb-4 text-sm">Payment Schedule</h6>

    <div class="overflow-x-auto relative mb-4">
      <table id="table" class="w-full text-xs text-left text-gray-500">
        <thead class="text-xs text-gray-400 uppercase bg-gray-50 border-b">
          <tr>
            <th scope="col" class="py-3 px-6">
              Title
            </th>
            <th scope="col" class="py-3 px-6">
              Description
            </th>
            <th scope="col" class="py-3 px-6">
              Time period
            </th>
            <th scope="col" class="py-3 px-6">
              Amount (%)
            </th>
          </tr>
        </thead>
        <tbody id="tableBody">
        </tbody>
      </table>

      <hr class="mt-4">
    </div>
    <div class="flex justify-end gap-x-3">
      {% include 'partials/_neutral_button.html' with label="Cancel" id="num_of_bathrooms" placeholder="2" type="text" class="basis-full md:basis-1/3 lg:basis-1/4" only %}
      {% include 'partials/_primary_button.html' with label="Save" class="basis-full md:basis-1/3 lg:basis-1/4" %}
    </div>
  </div>
</form>
{% endblock %}
{% block inline_javascript %}
<script defer src="{% static 'js/property_form.js' %}" type="module"></script>
<script>
  window.addEventListener('DOMContentLoaded', () => {
    const locationInput = document.querySelector('#id_location');
    locationInput.style.visibility = "hidden";
    locationInput.style.height = 0;
    locationInput.style.padding = 0;
    locationInput.style.border = 0;
  });
</script>
{% endblock %}
