{% extends 'phison_panel/base_list.html' %}
{% block header_title %}Staff List{% endblock %}
{% block add_button_label %}Add Staff{% endblock %}
{% block header_description %}All of your staff members{% endblock %}
{% block filter_options %}
<li>
  <button type="submit" name="filter_by" class="text-left block w-full py-2 px-4 hover:bg-gray-100 {% if filter_by == 'AP' %}text-gray-400{% endif %}" value="AP" {% if filter_by == 'AP' %}disabled{% endif %}>Admin Only</button>
</li>
<li>
  <button type="submit" name="filter_by" class="text-left block w-full py-2 px-4 hover:bg-gray-100 {% if filter_by == 'VI' %}text-gray-400{% endif %}" value="VI" {% if filter_by == 'VI' %}disabled{% endif %}>Staff Only</button>
</li>
{% endblock %}
{% block card %}{% include 'partials/_buyer_card.html' with buyer=buyer %}{% endblock %}
{% block inline_javascript %}
{{block.super}}
<script type="module">
  import { showDialog, renderDjangoTemplate } from "/static/js/utils.js";
  import { onSubmit } from "/static/js/staff_form.js";

  window.addEventListener('DOMContentLoaded', () => {
    const addStaffButton = document.querySelector('#addButton');
    addStaffButton.addEventListener("click", async (event) => {
      event.preventDefault();

      const template = await renderDjangoTemplate('_staff_form.html');
      showDialog('Add Staff Member', template);

      const staffForm = document.querySelector('#staffForm');
      staffForm.addEventListener('submit', onSubmit);
    });
  });
</script>
{% endblock inline_javascript %}
