{% extends 'phison_panel/base_list.html' %}
{% block title %}Staff List{{block.super}}{% endblock title %}
{% block header_title %}Staff List{% endblock %}
{% block add_button_label %}Add Staff{% endblock %}
{% block header_description %}All of your staff members{% endblock %}
{% block filter_by_label %}
  {% if filter_by == "is_superuser" %}
    Admin Only
  {% elif filter_by == "is_staff" %}
    Staff Only
  {% endif %}
{% endblock %}
{% block filter_options %}
<li>
  <button type="submit" name="filter_by" class="text-left block w-full py-2 px-4 hover:bg-gray-100 {% if filter_by == 'is_superuser' %}text-gray-400{% endif %}" value="is_superuser" {% if filter_by == 'is_superuser' %}disabled{% endif %}>Admin Only</button>
</li>
<li>
  <button type="submit" name="filter_by" class="text-left block w-full py-2 px-4 hover:bg-gray-100 {% if filter_by == 'is_staff' %}text-gray-400{% endif %}" value="is_staff" {% if filter_by == 'is_staff' %}disabled{% endif %}>Staff Only</button>
</li>
{% endblock %}
{% block card %}{% include 'partials/_staff_card.html' with staff=item %}{% endblock %}
{% block inline_javascript %}
{{block.super}}
<script type="module">
  import { showDialog, renderDjangoTemplate, closeDialog } from "/static/js/utils.js";
  import { onSubmit } from "/static/js/staff_form.js";

  window.addEventListener('DOMContentLoaded', () => {
    const addStaffButton = document.querySelector('#addButton');
    addStaffButton.addEventListener("click", async (event) => {
      event.preventDefault();

      const template = await renderDjangoTemplate('_staff_form.html');
      showDialog('Add Staff Member', template);

      const staffForm = document.querySelector('#staffForm');
      staffForm.addEventListener('submit', onSubmit);
    });

    const deactivateAccountButtons = document.querySelectorAll('#deactivateAccountButton');
    deactivateAccountButtons.forEach((b) => b.addEventListener('click', async (event) => {
      event.preventDefault();
      const template = await renderDjangoTemplate('_confirm_delete.html');
      showDialog('Deactivate the account?', template);

      const deleteConfirmationMessage = document.querySelector('#deleteConfirmationMessage');
      deleteConfirmationMessage.textContent = 'Are you sure you want to deactivate this account?';

      const formUrl = event.target.dataset.postUrl;
      const confirmationForm = document.querySelector('#confirmDeleteForm');
      confirmationForm.setAttribute('action', formUrl);

      const redirectTo = event.target.dataset.redirectTo;
      const redirectToHiddenInput = document.querySelector('#redirectTo');
      redirectToHiddenInput.value = redirectTo;

      const cancelConfirmDelete = document.querySelector('#cancelConfirmDelete');
      cancelConfirmDelete.addEventListener('click', (event) => {
        event.preventDefault();
        closeDialog();
      });
    }));
  });
</script>
{% endblock inline_javascript %}
