{% load static %}
<div class="mt-2">
  <div class="relative flex-grow md:flex-grow-0">
    <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none text-gray-500">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="feather feather-search">
        <circle cx="11" cy="11" r="8"></circle>
        <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
      </svg>

    </div>
    <input type="text" id="id_search" name="search"
      class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-orange-500 focus:border-orange-500 block w-full pl-10 p-2.5"
      placeholder="Search">
  </div>

  {% include 'partials/_loading_spinner.html' with id="spinner" class="mt-6 mb-4 hidden" only %}

  <div id="searchResult">
  </div>
</div>
