{% load static %}
<div class="bg-white rounded-2xl p-4 shadow-lg hover:shadow-xl group relative h-full">
  <div class="flex justify-end">
    <button data-dropdown-toggle="dropdown">
      <img src="{% static 'images/more-horizontal.svg' %}" alt="more options">
    </button>
    <div id="dropdown" class="hidden mt-1 absolute right-0 z-10 w-44 bg-white rounded divide-y divide-gray-100 shadow">
      <form action="{% url 'users:toggle_account_deactivation' pk=staff.pk %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="redirect_to" value="{{ request.get_full_path }}">
        <ul class="py-1 text-sm text-gray-700" aria-labelledby="dropdownDefault">
          {% if staff.is_active %}
          <li>
            <button id="deactivateAccountButton" type="submit" name="status" data-redirect-to="{{ request.get_full_path }}" data-post-url="{% url 'users:toggle_account_deactivation' pk=staff.pk %}"
              class="text-left block w-full py-2 px-4 hover:bg-red-100 bg-red-50 text-red-800">Deactivate</button>
          </li>
          {% else %}
          <li>
            <button type="submit" name="status"
              class="text-left block w-full py-2 px-4 hover:bg-gray-100">Make Active</button>
          </li>
          {% endif %}
        </ul>
      </form>
    </div>
  </div>
  <div class="mt-2 flex flex-col items-center">
    {% include 'partials/_avatar.html' with initial=staff.name class="w-24 h-24 object-cover rounded-2xl" only %}

    <div class="mt-2 flex flex-col items-center break-all">
      {% if staff.name %}<p class="font-semibold">{{staff.name}}</p>{% endif %}
      {% if staff.phone %}<p class="text-sm text-gray-500">{{staff.phone_number}}</p>{% endif %}
      {% if staff.email %}<p class="text-sm text-gray-500">{{staff.email}}</p>{% endif %}
      {% if staff.is_superuser %}<div class="text-white text-sm font-semibold p-1 my-1 rounded-lg bg-orange-800">Site Admin</div>{% endif %}
      {% if not staff.is_active %}
        <div class="bg-gray-500 text-white text-sm font-semibold p-1 my-1 rounded-lg">Deactivated</div>
      {% endif %}
    </div>
  </div>
</div>
